@font-face {
    font-family: "Chopin Script";
    src: url('/static/fonts/ChopinScript.ttf') format("truetype");
}

@font-face {
    font-family: 'BlanchCapsRegular';
    src: url('fonts/blanch_caps-webfont.eot');
    src: url('fonts/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blanch_caps-webfont.woff') format('woff'),
         url('fonts/blanch_caps-webfont.ttf') format('truetype'),
         url('fonts/blanch_caps-webfont.svg#BlanchCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
//    font-family: 'Raleway', sans-serif;
    font-family: 'Century Gothic','Avant Garde Gothic','Avant Garde','URW Gothic L',helvetica,sans-serif;
    height: 100%;
    color:#3c3c3c;
    margin:0px;
    padding:0px;
}
#happy-hour-container form {
    margin: 0 auto;
    width: 80%;
}

#happy-hour-container form div {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    background-color: rgba(195, 6, 109, 0.8);
    border-radius: 8px;
    /* -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.6);// inset 0 1px 4px rgba(0, 0, 0, 0.6); */
    /* -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.6); //inset 0 1px 4px rgba(0, 0, 0, 0.6); */
    /* box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.6); */
}

.dz-default span {
    font-size: 24px;
    vertical-align: middle;
    position: relative;
    top: 42%;
}

input {
    width: 50%;
    font-family: 'Century Gothic','Avant Garde Gothic','Avant Garde','URW Gothic L',helvetica,sans-serif;
    font-size: 24px;
}

div img {
    border-radius: 8px;
    border: 1px solid #555555;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.6);// inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.6); //inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.6);
}

iframe {
    border-radius: 2px;
    border: 1px solid #777777;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.6);// inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.6); //inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.6);
}

button img {
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
}

h1 {
    color: #2c2c2c;
}

h2 {
    color: #2c2c2c;
}

h3 {
    color: #2c2c2c;
}

#things-to-do-content h4 {
    font-size: 24px;
    margin: 4px 0;
}
#things-to-do-content h1 {
    margin: 4px 0;
}

#things-to-do-content {
    text-align: left;
    margin-left: 10%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.couch0 {
    background: url(/static/img/rcouch0.jpg) no-repeat center -80px;
}
.couch1 {
    background: url(/static/img/rcouch1.jpg) no-repeat center -80px;
}
.couch2 {
    background: url(/static/img/rcouch2.jpg) no-repeat center -80px;
}
.couch3 {
    background: url(/static/img/rcouch3.jpg) no-repeat center -80px;
}
.couch4 {
    background: url(/static/img/rcouch4.jpg) no-repeat center -80px;
}
.couch5 {
    background: url(/static/img/rcouch5.jpg) no-repeat center -80px;
}
.couch6 {
    background: url(/static/img/rcouch6.jpg) no-repeat center -80px;
}
.couch7 {
    background: url(/static/img/rcouch7.jpg) no-repeat center -80px;
}
.couch8 {
    background: url(/static/img/rcouch8.jpg) no-repeat center -80px;
}
.couch9 {
    background: url(/static/img/rcouch9.jpg) no-repeat center -80px;
}
.couch10 {
    background: url(/static/img/rcouch10.jpg) no-repeat center -80px;
}

div.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
//    color: transparent;
    background-size: cover;
//    background-position: 50% 50%;
//    background-repeat: none;
//    opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s;
}

#thebottom {
    height:80px;
}

#countdown {
    width:500px;
    height:100px;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    background: rgba(255,181,215,0.95);
    border-radius: 6px;
    padding: 20px;
}

#countdown p {
    color: black;
}


p {
    font-size: 20px;
    color:#4c4c4c;
//    line-height:36px;
}

#header-container {
    postion: absolute;
    top: 0;
    width: 100%;
/*    background-color: rgba(0,255,0,0.95); */
    margin: 0 auto;
    text-align: center;
    display: table;
}

.content {
    text-align: center;
    background-color:rgba(240,240,240,0.95);
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 200px;
    padding-top: 12px;
    border-radius: 6px;
    box-shadow:         0px 0px 3px 4px rgba(20,20,20,0.5);
    margin-top: 15px;
    margin-bottom: 40px;
}

.cursive {
    font-family: "Chopin Script";
}

.main-title {
    position: relative;
//    background-color:rgba(228,228,228,0.98);
    display: inline-block;
    border-radius: 30;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
//    box-shadow: 0px 1px 4px 2px rgba(20,20,20,0.5);
    z-index: 10;
    /* box-shadow: 3px 3px 1px 0px rgba(20,20,20,0.5); */
}

.right-nav {
    z-index: 1;
}

.main-title > span {
   font-size: 72px;
    text-shadow: 1px 1px 1px #000;
}

.divlink > span {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif */
}

#header-container > a {
    display: block;
    text-decoration: none;
    color: black;
}

.subtitle {
    font-size: 32px;
    position: relative;
    top: -16px;
}

.navlink {
    vertical-align: top;
    display: table-cell;
    height: 30%;
     /* background-color:rgba(228,228,228,0.9); */
    /* box-shadow: 3px 3px 1px 0px rgba(20,20,20,0.5); */
/*    background-image: linear-gradient(180deg, rgba(228,228,228,0.9), rgba(228,228,228,0.9) 30%, rgba(0,0,0,0) 31%, rgba(0,0,0,0)); */
}

.inner-nav {
    height: 50px;
 //   background-color:rgba(228,228,228,0.98);
//    box-shadow: 0px 4px 4px -2px rgba(20,20,20,0.5);
}

.inner-nav > a {
/*    background-color:rgba(99,221,233,0.95);*/
    display: inline-block;
    color: #222222;
    font-family: "Chopin Script";
    text-decoration: none;
    background-color: rgba(230,230,230,0.99);
    padding-left: 4px;
    padding-right: 4px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
//    text-shadow: 1px 1px 0px #333;
/*    border: solid 1px rgba(69,191,203,1); */
    font-size: 36px;
    box-shadow:   0px -1px 8px 1px rgba(20,20,20,0.99);
}


div.right-nav > div > a:first-child {
}

div.left-nav > div > a:last-child {
}

.inner-nav > a:hover {
    background-color: #63dbe9;
    //background-color:rgba(240,240,240,0.98);
}

.inner-nav > a:active {
    background-color:rgba(69,191,203,1);
    box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.5);
}

a {
    text-decoration: none;
}

.bottom-container {
   position:fixed;
   bottom:0;
   width:100%;
}

.timer-container {
}

.timer-container td {
    background-color: rgba(172,31,110,1); /* #ac1f6e; */
    border-color: #63dbe9;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 32;
}

.timer-container td > p {
    font-size: 16;
    margin-bottom: 0px;
}

#tiny-text {
    line-height: 10px;
    font-size: 10px;
    padding: 0px;
    padding-right: 10px;
    margin: 0px;
    text-align: right;
}

.bottom-container > table {
    width: 90%;
    height: 10px;
    margin: 0 auto;
}

.bottom-container tr {
    width: 100%;
    height: 10px;
}

.bottom-container td {
    width: 16%;
    height: 10px;
}


.button-link {
    padding: 10px 15px;
    background: #63dbe9;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-link:hover {
    background: #63dbe9;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.button-container {
    margin: 0 auto;
    height: 50px;
    width: 100%;
}

.button-container > button {
    border: none;
    background: #ac1f6e;
    color: black;
    width: 31%;
    height: 100%;
}

button span {
    line-height: 14px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.subcontent p {
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    text-align: left;
}

#river-house {
    height: 336;
    width: 550;
}

.subcontent iframe {
    width: 84%;
}


div.button-container button {
    margin: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #63dbe9;
//    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
div.button-container button:hover {
    background: #63dbe9;
    /*border: solid 1px #2A4E77;*/
    text-decoration: none;
}
div.button-container button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
/*    border: solid 1px #203E5F; */
}

div.party-member {
    box-shadow:         0px 0px 3px 4px rgba(20,20,20,0.5);
    border-radius: 6px;
}



div.left-column div.party-member {
    margin-left: 4%;
    margin-right: 2%;
}
div.right-column div.party-member {
    margin-right: 4%;
    margin-left: 2%;
}



div.party-member img {
    max-height: 357px;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #555555;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

div.blurb-container div {
    text-align: left;
    margin: 4px 20px;
    padding-top: 4px;
}

.blurb-container {
    min-height: 200px;
}


div.party-member div:last-child {
    padding-bottom: 6px;
}

div.party-member h3 {
    font-family: 'Chopin Script';
    font-size: 3.2em; //1.8em
//    text-shadow: 1px 1px 1px #333;
    padding-top: 20px;
    margin-bottom: 10px;
}

div.party-member h4 {
    font-family: 'Century Gothic','Avant Garde Gothic','Avant Garde','URW Gothic L',helvetica,sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 1.2em;
//    text-shadow: 1px 1px 0px #000;
    margin-top: 0px;
}

.party-heading {
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
}

.selected {
    background-color:rgba(200,200,200,0.98) !important;
}

.two-col {
    column-count: 2;
    column-gap: 10px;
    column-rule: 1px solid black;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-rule: 1px solid black;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-rule: 1px solid black;
}

div.two-col div {
    display: inline-block;
    width: 90%;
    padding: 4px;
    margin: 6px;
}

/* .three-col { */
/*     column-count: 3; */
/*     column-gap: 10px; */
/*     -webkit-column-count: 3; */
/*     -webkit-column-gap: 10px; */
/*     -moz-column-count: 3; */
/*     -moz-column-gap: 10px; */
/*     break-inside: avoid-column; */
/*     -webkit-column-break-inside: avoid; */
/* } */


/* #story-columns div { */
/*     margin: 15px; */
/* } */

/* .ourlightpink { */
/*     background-color: #ffb5d7; */
/* } */

/* .ourpink { */
/*     background-color: #ea5ea7; */
/* } */

/* .ourdarkpink { */
/*     background-color: #c3066d; */
/* } */

/* .ourpurple { */
/*     background-color: #ac1f6e; */
/* } */

/* .ourblue { */
/*     background-color: #63dbe9; */
/* } */

/* .ourgreen { */
/*     background-color: #049a7d; */
/* } */


/* #story-columns > div { */
/*     break-inside: avoid-column; */
/*     -webkit-column-break-inside: avoid; */
/*     page-break-inside: avoid */
/* } */

#story-container {
    text-align: center;
    margin-top: 30px;
}

#story-container > div {
    padding:10px;
}

#column-1 {
    float: left;
    width: 32%;
}
#column-2 {
    float: left;
    width: 32%;
}
#column-3 {
    float: left;
    width: 32%;
}

.left-column {
    float: left;
    width: 50%;
}

.right-column {
    float: left;
    width: 50%;
}


.clear {
    clear:both;
    line-height:0;
}


.story {
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #AAAAAA;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.pink {
    background: #ffb5d7;
}

.story:hover {
     -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #63dbe9;
}

.story > img {
    max-height: 200px;
    max-width: 95%;
}

.story img {
    margin: 10px;
}

#happy-hour-container {
    margin-top: 20px;
    text-align: center;
}

.footer-box {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #4c4c4c;
    height: 36px;
    line-height: 36px;
    background-color:rgba(240,240,240,0.7);
    padding: 0px 10px;
    border-top-right-radius: 6px;
    box-shadow: 1px -1px 1px 1px rgba(0,0,0,0.6);
}

.footer-box span {
    vertical-align: center;
}
