<html>
  <head>
    {% block head %}
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/screen.css') }}"></link>
      <title> {% block title %} {{ title }} {% endblock %} </title>
	{% endblock %}
  </head>
  <body>
    <div id="wrapper">
    {% block beginbody %}

    {% endblock %}
    {% block scripts %}
      <!-- placeholder -->
    {% endblock %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
	<div class=flashes>
	  {% for message in messages %}
	    {{ message }}<br>
	  {% endfor %}
	</div>
      {% endif %}
    {% endwith %}

    {% block header %}
      <div id="header-container">
	<div class="left-nav navlink">
	  <div class="inner-nav">
	    <a href={{ url_for("event_information") }} class="{{ selected.event_information }}"> Event Information</a>
	    <a href={{ url_for("our_story") }} class="{{ selected.our_story }}"> Our Story</a>
	  </div>
	</div>
	<a class="main-title" href="{{ url_for('home') }}">
	  <span class="cursive">Debbie and Matt</span>
	  <div class="subtitle cursive"> September 13th, 2014 </div>
	</a>
	<div class="right-nav navlink">
	  <div class="inner-nav">
	    <a href={{ url_for("accomodations") }} class="{{ selected.accomodations }}"> Accomodations</a>
	    <a href={{ url_for("happy_hour") }} class="{{ selected.happy_hour }}"> Happy Hour</a>
	  </div>
	</div>
      </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block thebottom %}
      <div id="thebottom">
      </div>
    {% endblock %}
    {% block footer %}
      <div class="footer-box">
	<span> Web Design and Development by: <a href="mailto:matthew.jaffee@gmail.com"> Matt Jaffee</a> </span>
      </div>
    {% endblock %}
    {% block endscripts %}

    {% endblock %}
    </div>
  </body>
</html>
