{% extends "base.html" %}

{% block scripts %}
  <style type="text/css">
    html {
    background: url(/static/img/aspen_wye.jpg) no-repeat center center;
    background-size: cover;
    }
  </style>
{% endblock %}


{% block body %}
  <div class="content">
    <h1> Aspen Wye River Conference Center </h1>
    <ul>
      <li> 600 Aspen Drive, Queenstown, Maryland, 21658 <a href="https://www.google.com/maps/dir//38.9105724,-76.1147488/@38.910491,-76.1149688,397m/data=!3m1!1e3!4m3!4m2!1m0!1m0">map</a></li>
      <li> Feel free to arrive Friday evening and stay until Sunday! </li>
      <li> Ceremony begins at 5pm on Saturday, but there will be some hang out time beforehand </li>
      <li> Reception to follow... bring your dancin' shoes! </li>
    </ul>

  </div>
{% endblock %}
