{% macro formerrors(form) -%}
    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
{%- endmacro %}


<html>
  <head>
    {% block head %}
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/screen.css') }}"></link>
      <title> {% block title %} {{ title }} {% endblock %} </title>
    {% endblock %}
  </head>
  <body>

{% block scripts %}
{% endblock %}


{% block body %}
  <div id="rsvp-page">
    <div id="rsvp-titles">
      <h1> Don't Know Your Password? </h1>
      <h2> Check the RSVP card that came with your invitation. </h2>
      <p> If you've lost it, or are having any other kind of trouble, send an email to <a href="mailto:matthew.jaffee@gmail.com"> Matt Jaffee matthew.jaffee@gmail.com</a> We'll get it fixed!
      </p>
    </div>
  </div>
{% endblock %}


  </body>
</html>
