{% extends "base.html" %}

{% block scripts %}
  <style type="text/css">
    html {
//    background: url(/static/img/couch0.jpg) no-repeat center -80px;
//    background-size: cover;
    }
  </style>
{% endblock %}
{% block beginbody %}
  <div id="couch0" class="couch0 background"> </div>
  <div id="couch1" class="couch1 background" style="opacity:0;">  </div>
  <div id="couch2" class="couch2 background" style="opacity:0;">  </div>
  <div id="couch3" class="couch3 background" style="opacity:0;">  </div>
  <div id="couch4" class="couch4 background" style="opacity:0;">  </div>
  <div id="couch5" class="couch5 background" style="opacity:0;">  </div>
  <div id="couch6" class="couch6 background" style="opacity:0;">  </div>
  <div id="couch7" class="couch7 background" style="opacity:0;">  </div>
  <div id="couch8" class="couch8 background" style="opacity:0;">  </div>
  <div id="couch9" class="couch9 background" style="opacity:0;">  </div>
  <div id="couch10" class="couch10 background" style="opacity:0;">  </div>
{% endblock %}


{% block body %}
  <div id="rsvplink" class="button">
    <a href="{{ url_for('selfies') }}"> Selfies! </a>
  </div>
  <div id="countdown">
    <h1> Wedding Countdown </h1>
    <p id="tiny-text"> (click these!)</p>
    <table class="timer-container">
      <tr>
	<td id="daysbutton" class="button-link"><div id="days"></div> <p>Days</p></td>
	<td id="hoursbutton" class="button-link"> <div id="hours"></div> <p>Hours</p></td>
	<td id="minutesbutton" class="button-link"><div id="minutes"></div> <p>Minutes</p></td>
	<td id="secondsbutton" class="button-link"><div id="seconds"></div> <p>Seconds</p></td>
      </tr>
    </table>
  </div>
{% endblock %}

{% block endscripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/countdown.js') }}" type="text/javascript"></script>
  <script>
    var i = 0;
   var j = 10;
   $("#daysbutton").click(function () {
     //     $("html").css({"background": "url(/static/img/couch" + getRandomInt(0, 5) + ".jpg) no-repeat center -80px",
     //		    "background-size": "cover"});
     var ran = getRandomInt(0, 10);
     console.log(ran);
     $(".background").css("opacity", 0);
     $("#couch" + ran).css("opacity", 1);
   });
   $("#hoursbutton").click(function () {
     i = (i + 1) % 11;
     console.log(i);
     $(".background").css("opacity", 0);
     $("#couch" + i).css("opacity", 1);
   });
   $("#minutesbutton").click(function () {
     j = (j - 1);
     if (j == -1) {
       j = 10;
     }
     console.log(j);
     $(".background").css("opacity", 0);
     $("#couch" + j).css("opacity", 1);
   });
   $("#secondsbutton").click(function () {
     var ran = getRandomInt(0, 10);
     console.log(ran);
     $(".background").css("opacity", 0);
     $("#couch" + ran).css("opacity", 1);
   });
  </script>
{% endblock %}
